<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.t.teamten.GreenFoodTracker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.t.teamten.GreenFoodTracker.Login_And_Registration.Firebase_User_Login_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.t.teamten.GreenFoodTracker.Result_Pages.Calculation_Result_Activity" />
        <activity android:name="com.t.teamten.GreenFoodTracker.Calculator.Calculator_Activity" />
        <activity android:name="com.t.teamten.GreenFoodTracker.Login_And_Registration.About_Activity" />
        <activity android:name="com.t.teamten.GreenFoodTracker.Login_And_Registration.Facts_Activity" />
        <activity android:name="com.t.teamten.GreenFoodTracker.Login_And_Registration.User_Registeration_Activity" />
        <activity android:name="com.t.teamten.GreenFoodTracker.Firebase_User.User_Profile_Activity" />
        <activity android:name="com.t.teamten.GreenFoodTracker.Result_Pages.Share_On_Social_Media_Activity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider210519083041701"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name="com.t.teamten.GreenFoodTracker.Firebase_User.Setting_For_User_Activity" />
        <activity android:name="com.t.teamten.GreenFoodTracker.Firebase_User.Manage_Account_Activity" />
        <activity
            android:name=".Meal_Posts.AddMealAcitivty"
            android:label="@string/title_activity_add_meal_acitivty"
            android:theme="@style/AppTheme" />
        <activity android:name="com.t.teamten.GreenFoodTracker.Homescreen.HomeScreen"></activity>
    </application>

</manifest>